body{
    background-color:rgb(211, 240, 131);
    align-items: center;
}
#list_container{
    text-align: center;
    display: block;
    width: 500px;
    height: 500px;
    margin: auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.795);
    border-radius: 20px;
    margin-top: 20px;
}